# BYR Docs 的域名
BYRDOCS_SITE_URL=https://byrdocs.org
# BYR Docs Publish 的域名
PUBLISH_SITE_URL=https://publish.byrdocs.org
# 你的 byrdocs-archive 对应的 GitHub 仓库
ARCHIVE_REPO_URL=https://github.com/byrdocs/byrdocs-archive
