"$schema" = "node_modules/wrangler/config-schema.json"
name = "byrdocs"
main = "worker/index.ts"
compatibility_date = "2025-08-31"

[[durable_objects.bindings]]
name = "COUNTER"
class_name = "Counter"

[[durable_objects.bindings]]
name = "OAUTH"
class_name = "OAuth"

[[migrations]]
tag = "v1"
new_classes = [
    "Counter",
    "OAuth",
]

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "byrdocs"
database_id = "2df6319f-9c5f-4e3f-9958-3d0ab5f7825b"

[[r2_buckets]]
binding = "R2"
bucket_name = "byrdocs-file"
preview_bucket_name = "byrdocs-file"

[[analytics_engine_datasets]]
binding = "AE"
dataset = "byrdocs"

[triggers]
crons = ["0 0 * * *"]

[assets]
not_found_handling = "single-page-application"
run_worker_first = [
    "/api/*",
    "/schema/*",
    "/files/*",
]

[vars]
# 主站网址，也是你为主站设定的自定义域名，见下文第12步
BYRDOCS_SITE_URL = "https://byrdocs.cpphusky.xyz"
# byrdocs-data 存储桶的自定义域名，见“准备 BYR Docs 文件”第7步
R2_DATA_SITE_URL = "https://data.byrdocs.cpphusky.xyz"
# BYR Docs Publish 的域名
PUBLISH_SITE_URL = "https://publish.byrdocs.cpphusky.xyz"
# 测试用的网站域名
DEV_SITE_URL = "https://byrdocs.cpphusky.workers.dev"
# 你的 byrdocs-archive 对应的 GitHub 仓库
ARCHIVE_REPO_URL = "https://github.com/byrdocs/byrdocs-archive-testing"
